<h3>coda connects</h3>
<h1>You Are Not Alone</h1>

<center><header>
    <ul class="nav">
        <li><a href="/">Home</a>
        </li>
        <li>|</li>
        <li><a href="/share">Share</a>
        </li>
        <li>|</li>
        <li><a href="/resources">Resources</a>
        </li>
    </ul>
</header>
<h2>Resources</h2>
